div.form-group {
    margin: 1em;
}

button {
    margin: 2em;
}

.form_submitted {
    margin: 2em;
    font-size: 1.2em;
    font-weight: bold;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000;
    margin: 1em 0;
    padding: 0; 
}

.team-member .img-circle{
    max-width: 100px;
}
